.button {
  display: block;
  background-color: $Dark-gray-blue;
  color: $White;
  font-size: 1.8rem;
  font-weight: 600;
  height: 5.6rem;
  border-radius: 12.8rem;
  text-decoration: none;

  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    background-image: linear-gradient(
      to bottom,
      $Light-slate-blue,
      $Light-royal-blue
    );
  }
}
