.circle {
  width: 20rem;
  height: 20rem;
  border-radius: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__text {
    font-size: 7.2rem;
    font-weight: 800;
    line-height: 100%;
  }

  &__subtext {
    font-size: 1.8rem;
    font-weight: 400;
  }
}
