// Primary

$Light-red: rgb(255, 87, 87);
$Orangey-yellow: rgb(255, 176, 31);
$Green-teal: rgb(0, 189, 145);
$Cobalt-blue: rgb(17, 37, 212);

// Gradients

$Light-slate-blue: hsl(252, 100%, 67%);
$Light-royal-blue: hsl(241, 81%, 54%);

$Violet-blue: hsla(256, 72%, 46%, 1);
$Persian-blue: hsla(241, 72%, 46%, 0);

// Neutral

$White: hsl(0, 0%, 100%);
$Pale-blue: hsl(221, 100%, 96%);
$Light-lavender: hsl(241, 100%, 89%);
$Dark-gray-blue: hsl(224, 30%, 27%);
$Very-Light-blue: hsl(220, 100, 96, 100%);
